* { box-sizing: border-box; }

:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan : hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --soft-red-pale: hsla(10, 79%, 65%, 0.5);
  --cyan-pale : hsla(186, 34%, 60%, 0.5);
}

body {
  color: var(--medium-brown);
  background: var(--cream);
  font-family: 'DM Sans', Helvetica, sans-serif;
  font-size: 4vw;
  max-width: 100vw;
  min-height: 100vh;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  color: var(--dark-brown);
  margin: 2px auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 12vw auto;
  padding: 2vw;
}

section {
  width: 100%;
  border-radius: 9px;
  padding: 5.4vw 5vw;
  text-align: left;
}


.header {
  color: var(--very-pale-orange);
  background: var(--soft-red);
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart {
  background: var(--very-pale-orange);
}

.logo {
  background: var(--dark-brown);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
}

.logo::after {
  content: '';
  width: 36px;
  height: 36px;
  border: 2px solid var(--very-pale-orange);
  border-radius: 100%;
  position: absolute;
  left: -50%;
}


.set {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1.5rem auto;
  font-size: 0.9rem;
  line-height: 2.5rem;
  text-align: center;
}

.set > div {
  min-height: 228px;
  width: 33px;
  padding: 4px 0;
  position: relative;
}

.bar-wrap {
  height: 150px;
  margin-top: 35px;
  overflow: hidden;
  position: relative;
}

.bar {
  background: var(--soft-red);
  width: 100%;
  height: 1%;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  animation: grow 1.5s ease-out forwards;
  transform-origin: bottom;
  transition: opacity 0.7s, background-color 1s linear;
}


.popup {
  color: var(--very-pale-orange);
  background: var(--dark-brown);
  position: absolute;
  left: -4px;
  z-index: 2;
  opacity: 0;
  width: 56px;
  padding: 8px 4px;
  border-radius: 4px;
  white-space: nowrap;
  line-height: initial;
  transition: all 0.5s linear;
  text-align: center;
  transition: all 0.9s linear;
}

.col:hover .bar {
  opacity: 0.5;
  cursor: pointer;
}

.col:hover .popup {
  opacity: 1;
  transform: translateY(-8px);
}

.lit {
  animation: glow 1s linear forwards;
}

.gross {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid hsla(28, 10%, 53%, 0.7);
  padding: 1.5rem 0 0.65rem;
}

.money {
  color: var(--very-pale-orange);
  font-size: 1.5rem;
}

.bigmoney {
  color: var(--dark-brown);
  font-size: 2rem;
}

.subtotal {
  padding-bottom: 0.75rem;
  text-align: right;
}

@keyframes grow{
  from{
    transform: scaleY(0);
  }
}

@keyframes glow{
  from {
    transform: scaleY(0);
  }
  to{
    transform: scaleY(100%);
    background-color: var(--cyan);
  }
}


@media (min-width: 600px) and (max-width: 1439px) { body { font-size:16px;} main { width: 58%; margin:10.5% auto; padding: 0;} section { padding: 2rem 2.5rem; border-radius: 16px;} .header { margin: 1.5rem auto; padding: 1.7rem 2rem;}
  .set > div { width: 48px; padding: 8px 0;} .bar{border-radius: 6px;} .logo{ width: 50px; height: 50px;} .logo::after{ width: 46px; height: 46px;} .money {font-size: 2rem;} .bigmoney {font-size: 2.5rem;}}
@media (min-width: 1440px) { body { font-size:18px;} main { width: 38%; margin:10.5% auto; padding: 0;} section { padding: 2rem 2.5rem; border-radius: 18px;} .header { margin: 1.857rem auto; padding: 1.7rem 2.5rem;}
  .set > div { width: 48px; padding: 8px 0;} .bar{border-radius: 6px;}  .logo{ width: 50px; height: 50px;} .logo::after{ width: 46px; height: 46px;} .money {font-size: 2rem;} .bigmoney {font-size: 2.758rem;}}
